<nav class="navbar navbar-inverse bg-inverse nav-bar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://2zg.de"><img src="{{ page.root }}assets/img/2zglogo_small.png" alt="2ZG">
        </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/main">Releases</a></li>
      <li><a href="http://2zg.de/merch" target="_blank">Shop</a></li>
      <li><a href="https://www.newdef.de/artist/2-zimmer-gefuege/" target="_blank">Booking</a></li>
    </ul>
  </div>
</nav>
