---
layout: default
title: Tetsuo - Erde II
root: "../../"
permalink: /erde2/

# TODO: exchange links
link_soundcloud: "https://soundcloud.com/zweizimmer-gefuege"
link_itunes: ""
link_spotify: "https://open.spotify.com/album/1CX5fjCbWO5zzCbRK8FlCt"
link_bandcamp: "http://2zg.de/music"
link_google: ""
link_amazon: ""
link_youtube: "https://www.youtube.com/user/DerSiebchirurg"
link_spotify_web: "https://open.spotify.com/album/1CX5fjCbWO5zzCbRK8FlCt"
---

<div class="container-fluid">

    <div class="row">

      <div class="col-md-4 col-md-offset-4">
        <!-- RELEASE IMAGE -->
        <div class="row">
          <a href="{{page.link_spotify}}" class="external-link"><img src="{{ page.root }}assets/img/releases/erde2.jpg" class="img-responsive release-image" alt="Erde 2"></a>
        </div>

        <!-- RELEASE TITLE -->
        <div class="row release-name">
          <h1 class="release-title-center"><a href="{{page.link_spotify}}" class="white-no-decoration external-link">Tetsuo - Erde II</a></h1>
        </div>

        <!-- RELEASE SERVICES SECTION -->

        <!-- SPOTIFY SERVICE -->
        {% include release_pages/div_spotify.html %}

        <!-- BANDCAMP SERVICE -->
        {% include release_pages/div_bandcamp.html %}

        <!-- ITUNES SERVICE -->
        {% include release_pages/div_itunes.html %}

        <!-- GOOGLE SERVICE -->
        {% include release_pages/div_google.html %}

        <!-- AMAZON SERVICE -->
        {% include release_pages/div_amazon.html %}

        {% include release_pages/div_soundcloud.html %}

        <!-- YOUTUBE SERVICE -->
        {% include release_pages/div_youtube.html %}

        <!-- Don't know button -->
        {% include release_pages/div_dontknow.html %}

      </div>

    </div>

  </div>
